<html>

<head>
    <title>Test4</title>
</head>

<body>
    <ul>
        <li>
            <a href="/CPA">CPA Students</a>


        </li>
        <li>
            <a href="/allStudents">All Students</a>
        </li>
        <li>
            <a href="/addStudent">Add A New Student</a>
        </li>
        <li>
            Note: Locate specific student by student Id, e.g., http://localhost:3000/student/3
        </li>
        <li>
            <a href="/highGPA">Highest GPA</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
    <hr>
    {{{body}}}
    <hr>
    <h2>
        Student Honour Pledge:
    </h2>

    I acknowledge Seneca College's academic integrity policy. <br>On my honour, I have neither given nor received
    unauthorized aid on this test.
    <br>
    <br>
    Name: <mark> <b> Het Patel </b> </mark>
    <br>
    <br>
    Student Number: <mark><b> 154671218 </b> </mark>
</body>

</html>